#######################
# Start rewrite engine #
########################

RewriteEngine On

#####################################
# Disable directory content listing #
#####################################

Options -Indexes

#########################################
# Ignore local files, folders and links #
#########################################

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

################################
# All requests into the utility #
################################
RewriteRule ^(.*) index.php?url=$1 [QSA,L]